@model IEnumerable<MessageBoard.Models.ViewModel.ArticlesViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>發表過的留言</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArticleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDate)
        </th>
        <th></th>
    </tr>
    @if (System.Linq.Enumerable.Any(Model))
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { articleId = item.ArticleId }) |
                    @Html.ActionLink("Delete", "Delete", new { articleId = item.ArticleId })
                </td>
            </tr>
        }
    }


</table>
