<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <span>@Html.ActionLink("留言板", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</span>
            @if (string.IsNullOrEmpty(Convert.ToString(Session["UserId"])))
            {
                 <span>@Html.ActionLink("登入", "Login", "Login", new { area = "" }, new { @class = "navbar-brand" }) @Html.ActionLink("註冊", "Register", "Login", new { area = "" }, new { @class = "navbar-brand" })</span>   
            }
            else
            {
                <span>@Html.ActionLink("登出", "LogOut", "Login", new { area = "" }, new { @class = "navbar-brand" })</span>
            }
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
